# ./bin/nifi.sh set-single-user-credentials admin admin_password
version: "3.9"

services:
  nifi:
    image: apache/nifi:latest
    container_name: nifi
    ports:
      - "8443:8443"
    environment:
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin_password
      - NIFI_WEB_HTTPS_PORT=8443
    volumes:
      - nifi_data:/opt/nifi/nifi-current

volumes:
  nifi_data:
